<h3>Dashboard component</h3>
<button (click)="onOpenConfirm()">Open</button>
<button (click)="onShowMsg()">Show msg</button>

<button class="btn btn-outline-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Loading...</span>
  </button>
  <div style="max-height: 100px; overflow-y: auto; width: 200px; border: 1px solid #ffaadd;">
      <span style="height: 20px;">abdef</span><br/><br/><br/>
      <span style="height: 20px;">abdef</span><br/><br/><br/>
      <span style="height: 20px;">abdef</span><br/><br/><br/>
      <span style="height: 20px;">abdef</span><br/><br/><br/>
      <span style="height: 20px;">abdef</span><br/><br/><br/>
      <span style="height: 20px;">abdef</span><br/><br/><br/>
  </div>
