FrontEnd/node_modules/
BackEnd/InternalApplication/DataAccess/Internal.DataAccess/obj/
BackEnd/InternalApplication/DataAccess/Internal.DataAccess/bin/
BackEnd/InternalApplication/InternalApplication/bin/
BackEnd/InternalApplication/InternalApplication/obj/
BackEnd/InternalApplication/Business/Internal.Business/obj/
BackEnd/InternalApplication/Business/Internal.Business.Login/obj/
BackEnd/InternalApplication/Business/Internal.Business.Login/bin/
BackEnd/InternalApplication/.vs/InternalApplication/v16/
BackEnd/InternalApplication/Business/Internal.Business/bin/
BackEnd/InternalApplication/Models/Model.Common/obj/
BackEnd/InternalApplication/Models/Model.Common/bin/
BackEnd/InternalApplication/.vs/
BackEnd/InternalApplication/DataAccess/Internal.Data.IRepository/obj/
BackEnd/InternalApplication/DataAccess/Internal.Data.ITableRepository/obj/
BackEnd/InternalApplication/DataAccess/Internal.Data.SQL.Repository/obj/
BackEnd/InternalApplication/DataAccess/Internal.Data.SQL.TableRepository/bin/
BackEnd/InternalApplication/DataAccess/Internal.Data.SQL.TableRepository/obj/
BackEnd/InternalApplication/Services/Internal.Service.Common/obj/
BackEnd/InternalApplication/Services/Internal.Service.Common/bin/
BackEnd/InternalApplication/DataAccess/Internal.Data.IRepository/bin/
BackEnd/InternalApplication/DataAccess/Internal.Data.ITableRepository/bin/
BackEnd/InternalApplication/DataAccess/Internal.Data.SQL.Repository/bin/
BackEnd/InternalApplication/DataAccess/Internal.UnitOfWork/obj/
BackEnd/InternalApplication/DataAccess/Modules/Internal.Data.Security/obj/
BackEnd/InternalApplication/DataAccess/Internal.UnitOfWork/bin/
BackEnd/InternalApplication/DataAccess/Internal.IUnitOfWork/obj/
BackEnd/InternalApplication/DataAccess/Modules/Internal.Data.Security/bin/
BackEnd/InternalApplication/DataAccess/Internal.IUnitOfWork/bin/
BackEnd/InternalApplication/Tools/BuildEntityModel/bin/
BackEnd/InternalApplication/Tools/BuildEntityModel/obj/
*.json
BackEnd/InternalApplication/API/API.Common/obj/
BackEnd/InternalApplication/Core/DataAccess/Core.Data.SQL.Repository/obj/
BackEnd/InternalApplication/Core/DataAccess/Core.Data.IRepository/obj/
BackEnd/InternalApplication/Core/DataAccess/Core.IUnitOfWork/obj/
BackEnd/InternalApplication/Core/DataAccess/Modules/Core.Data.Security/obj/
BackEnd/InternalApplication/Core/DataAccess/Core.UnitOfWork/obj/
Mockup/
Review/
deploy/
BackEnd/InternalApplication/Core/Models/Core.CommonModels/obj/
