<div class="row page-wrapper chiller-theme toggled">
    <div class="col-md-4">
        abdefsd sdk df
        <nav>
            <li><a [routerLink]="['/recruitment']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
            <li><a [routerLink]="['/recruitment/dashboard']" [routerLinkActive]="['active']">Dashboard</a></li>
        </nav>
    </div>
    <div class="col-md-8" style="background-color: #d34dfd;">
        <router-outlet></router-outlet>
    </div>
</div>
