div.candidate {
    width: '300px';
}

div.candidate div.img {
    width: 80px;
    float: left;
    text-align: center;
    height: 100%;
    display: inline;
}

div.candidate div.img div i {
    font-size: 20px;
    margin: 5px;
}

div.candidate div.img div a:hover {
    cursor: pointer;
}

div.candidate div.img div i.fa-address-card-o {
    color: #b33406;
}

div.candidate div.img div i.fa-share-alt {
    color: #28bb3f;
}

div.candidate div.img img {
    width: 70px;
    height: 70px;
}

div.candidate div.info {
    width: 235px;
    display: inline;
}

.search-box {
    background-color: #dee2e6;
    height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 120px);
    height: -o-calc(100vh - 120px);
    height: calc(100vh - 120px);
    overflow-y: overflow;
    overflow-x: hidden;
}

.search-box-location {
    min-height: 100px;
}

.search-box-position {
    min-height: 100px;
}

.search-box-skill {
    min-height: 100px;
}


/*Table css*/

.table-scroll {
    min-width: 1366px;
}

.table-scroll thead tr th:nth-child(1),
.table-scroll tbody tr td:nth-child(1) {
    width: 25px !important;
    text-align: center;
}

.table-scroll thead tr th:nth-child(2),
.table-scroll tbody tr td:nth-child(2) {
    width: 320px !important;
}

.table-scroll thead tr th:nth-child(3),
.table-scroll tbody tr td:nth-child(3) {
    width: 100px;
}

.table-scroll thead tr th:nth-child(4),
.table-scroll tbody tr td:nth-child(4) {
    width: 70px;
}

.table-scroll thead tr th:nth-child(5),
.table-scroll tbody tr td:nth-child(5) {
    width: 200px;
}

.table-scroll thead tr th:nth-child(6),
.table-scroll tbody tr td:nth-child(6) {
    width: 130px;
}

.table-scroll thead tr th:nth-child(7),
.table-scroll tbody tr td:nth-child(7) {
    width: 70px;
}

.table-scroll thead tr th:nth-child(8),
.table-scroll tbody tr td:nth-child(8) {
    width: 80px;
}

.table-scroll thead tr th:nth-child(9),
.table-scroll tbody tr td:nth-child(9) {
    width: 120px;
}

.table-scroll thead tr th:nth-child(10),
.table-scroll tbody tr td:nth-child(10) {
    width: 50px;
    text-align: center;
}

.table-scroll thead tr th:nth-child(11),
.table-scroll tbody tr td:nth-child(11) {
    width: 80px;
    text-align: center;
}

.table-scroll tbody {
    height: -moz-calc(100vh - 187px);
    height: -webkit-calc(100vh - 187px);
    height: -o-calc(100vh - 187px);
    height: calc(100vh - 187px);
    min-width: 1366px;
}
