<div class="card-header">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <button class="btn btn-outline-primary" (click)="onClickAdd()"><i class="fa fa-plus-circle"></i>  New</button> &nbsp;
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
          <i class="fa fa-file"></i>  Export  <i class="fa fa-caret-down"></i>
        </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-excel-o"></i>  Excel</a>
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-text-o"></i>  Excel</a>
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-pdf-o"></i>  Pdf</a>
                </div>
            </div>
            &nbsp;
            <button class="btn btn-outline-danger" (click)="onClickDeleteAll()"><i class="fa fa-times-circle"></i> Delete</button>
        </div>
        <div class="col-md-6 col-xs-12">
            <app-table-search [isLoading]="isLoading" [value]="filter.searchKey" (searchValueChange)="onSearchChange($event)"></app-table-search>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-xs-12 body-scroll search-box pr-1 pl-2">
            <h5>Location</h5>
            <div class="row">
                <div class="col-12">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-sm" [ngClass]="{'fa-spinner fa-spin' : isLoading, 'fa-search' : !isLoading}"></i>
                        <input type="text" class="form-control input-sm" placeholder="Find candidate's cities or countries" />
                    </div>
                </div>
            </div>
            <div class="row search-box-location">
                <div class="col-12">
                </div>
            </div>
            <h5>Position</h5>
            <div class="row">
                <div class="col-12">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-sm" [ngClass]="{'fa-spinner fa-spin' : isLoading, 'fa-search' : !isLoading}"></i>
                        <input type="text" class="form-control input-sm" placeholder="Find candidate's positions" />
                    </div>
                </div>
            </div>
            <div class="row search-box-position">
                <div class="col-12">
                </div>
            </div>
            <div class="row search-box-position">
                <div class="col-12">
                </div>
            </div>
            <div class="row search-box-position">
                <div class="col-12">
                </div>
            </div>
            <div class="row search-box-position">
                <div class="col-12">
                </div>
            </div>
            <div class="row search-box-position">
                <div class="col-12">
                </div>
            </div>
            <h5>Skills</h5>
            <div class="row">
                <div class="col-12">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-sm" [ngClass]="{'fa-spinner fa-spin' : isLoading, 'fa-search' : !isLoading}"></i>
                        <input type="text" class="form-control input-sm" placeholder="Find candidate's skills" />
                    </div>
                </div>
            </div>
            <div class="row search-box-skill">
                <div class="col-12">
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-xs-12 pl-1 pr-2" style="position:relative">
            <table class="table table-hover table-bordered table-striped table-scroll">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" [checked]="selectAll" (click)="onClickAllCheck()" />
                        </th>
                        <th>Candidates</th>
                        <th>Location</th>
                        <th>Rating</th>
                        <th>Skills</th>
                        <th>History</th>
                        <th style="width: 120px;">Recruitor</th>
                        <th style="width: 80px;">Updated</th>
                        <th style="width: 120px;">Updated by</th>
                        <th class="active">Active</th>
                        <th class="action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData.list as CandidateModel">
                        <td class="check">
                            <input type="checkbox" [checked]="item.selected" (click)="onClickItemCheck(item)" />
                        </td>
                        <td>
                            <div class="candidate">
                                <div class="img">
                                    <img src="#" class="candidate-img" />
                                    <div>
                                        <a (click)="onClickOpenContact(item.contact)"><i class="fa fa-address-card-o" aria-hidden="true"></i></a>
                                        <a (click)="onClickOpenSocialNetWork(item.network)"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>{{ item.fullName }}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">Position: {{ item.jobPosition }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">Level: {{ item.jobLevelName }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">Phone: {{ item.contact ? item.contact.phone : '' }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">Email: {{ item.contact ? item.contact.email : '' }}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ item.contact ? item.contact.address : '' }}
                        </td>
                        <td>
                            <i *ngFor="let i of [1,2,3,4,5]" [ngClass]="{'star': i > item.rating, 'star-voted' : i <= item.rating}"></i>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            {{ item.recruitorName }}
                        </td>
                        <td>{{ item.lastUpdate | date:'yyyy-mm-dd' }}</td>
                        <td>{{ item.userUpdate }}</td>
                        <td class="active">
                            <input type="checkbox" [checked]="item.isActive" disabled />
                        </td>
                        <td class="action">
                            <button class="btn btn-outline-primary mr-1" (click)="onClickEdit(item)"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-outline-danger mr-1" (click)="onClickDelete(item)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-table-footer [totalItem]="tableData.totalItem" [totalFiltered]="tableData.filteredItem" [currentPage]="tableData.currentPage" [pageSize]="tableData.pageSize" (changePageEvent)="onChangePage($event)" [isLoading]="isLoading">
            </app-table-footer>
        </div>
    </div>
</div>
