<form>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()" tabindex="10">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span>Group name:</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <select class="form-control" tabindex="1" focus>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Skill name:</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input type="text" class="form-control" value="abdefsf" tabindex="2" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close('Ok click')">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
</form>