<form [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClickClose()" tabindex="5">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span>Group name:</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <select name="groupName" class="form-control" tabindex="1" ngbAutoFocus formControlName="groupId">
                  <option [value]="item.value" *ngFor="let item of listGroup">{{ item.title }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Skill name:</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input name="name" type="text" class="form-control" formControlName="name" tabindex="2" />
                <span *ngIf="isSubmit && f.name.errors">{{ formLabel.requiredName }}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" tabindex="3">Save</button>
        <button type="button" class="btn btn-outline-dark" tabindex="4" (click)="onClickClose()">Cancel</button>
    </div>
</form>