<form [formGroup]="form" novalidate (submit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClickClose()" tabindex="4">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>Name:</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input type="text" ngbAutoFocus class="form-control" formControlName="name" tabindex="1" maxlength="100" required />
                <span *ngIf="isSubmit && f.name.errors" class="ng-invalid">{{ messageResource.SkillGroup.RequiredName }}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" tabindex="2">Save</button>
        <button type="button" class="btn btn-outline-dark" tabindex="3" (click)="onClickClose()">Cancel</button>
    </div>
</form>