<form>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClickClose()" tabindex="5">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <span>Name:</span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <input type="text" ngbAutoFocus class="form-control" [(ngModel)]="model.name" tabindex="1" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Active: </span>
                <input type="checkbox" [(ngModel)]="model.isActive" [checked]="model.isActive" tabindex="2" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" tabindex="3" (click)="onClickSave()">Save</button>
        <button type="button" class="btn btn-outline-dark" tabindex="4" (click)="onClickClose()">Cancel</button>
    </div>
</form>
