<div class="card-header">
    <div class="row mb-1">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-outline-primary" (click)="onClickAdd()"><i class="fa fa-plus-circle"></i>  {{ formLabel.new }}</button> &nbsp;
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
              <i class="fa fa-file"></i>  {{ formLabel.export }}  <i class="fa fa-caret-down"></i>
            </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-excel-o"></i>  Excel</a>
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-text-o"></i>  Text</a>
                    <a class="dropdown-item btn btn-outline-primary" href="javascript:;"><i class="fa fa-file-pdf-o"></i>  Pdf</a>
                </div>
            </div>
            &nbsp;
            <button class="btn btn-outline-danger" (click)="onClickDeleteAll()"><i class="fa fa-times-circle"></i> {{ formLabel.delete }}</button>
        </div>
        <div class="col-md-4 col-sm-2 col-xs-12"></div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <app-table-search [isLoading]="isLoading" [value]="filter.searchKey" (searchValueChange)="onSearchChange($event)"></app-table-search>
        </div>
    </div>
</div>
<div class="card-body pb-0">
    <div class="row">
        <div class="col-md-12 pl-2 pr-2 horizontal-scroll">
            <table class="table table-hover table-bordered table-striped table-scroll">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" [checked]="selectAll" (click)="onClickAllCheck()" />
                        </th>
                        <th sortable="Name" scope="col" (sort)="onSort($event)">Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData.list as SkillGroupModel">
                        <td>
                            <input type="checkbox" [checked]="item.selected" (click)="onClickItemCheck(item)" />
                        </td>
                        <td>{{ item.name }}</td>
                        <td>
                            <button class="btn btn-outline-primary mr-1" (click)="onClickEdit(item)"><i class="fa fa-pencil-square-o"></i></button>
                            <button class="btn btn-outline-danger mr-1" (click)="onClickDelete(item)"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="!tableData.list || tableData.list.length === 0" class="text-center">
                        No data available
                    </tr>
                </tbody>
            </table>
            <app-table-footer [minWidth]="1024" [totalItem]="tableData.totalItem" [totalFiltered]="tableData.filteredItem" [currentPage]="tableData.currentPage" [pageSize]="tableData.pageSize" (changePageEvent)="onChangePage($event)" [isLoading]="isLoading">
            </app-table-footer>
        </div>
    </div>
</div>