<nav id="sidebar" [ngClass]="{'active': openNav}">
    <div class="sidebar-header">
        <h3>Internal Application</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-tasks" aria-hidden="true"></i> Recruitmnet
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a [routerLink]="['/recruitment/dashboard']" [routerLinkActive]="['active']"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/candidate']" [routerLinkActive]="['active']"><i class="fa fa-address-book" aria-hidden="true"></i> Candidates</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/vacancy']" [routerLinkActive]="['active']"><i class="fa fa-info-circle" aria-hidden="true"></i> Vacancies</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/calendar']" [routerLinkActive]="['active']"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/mail']" [routerLinkActive]="['active']"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/report']" [routerLinkActive]="['active']"><i class="fa fa-address-book" aria-hidden="true"></i> Report</a>
                </li>
                <li>
                    <a [routerLink]="['/recruitment/skillset']" [routerLinkActive]="['active']"><i class="fa fa-tags" aria-hidden="true"></i> Skillset</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-building" aria-hidden="true"></i> Company
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Leave form</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-money" aria-hidden="true"></i> Payroll</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-group" aria-hidden="true"></i> Employee List</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-window-maximize" aria-hidden="true"></i> Departments</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-server" aria-hidden="true"></i> Devices</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Role</a>
                </li>
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download">Download source</a>
        </li>
        <li>
            <a href="#" class="article">Back to article</a>
        </li>
    </ul>
</nav>
