@charset "utf-8";
@import "partials/_sidebar.css";
@import "partials/_footer.css";
@import "partials/_header.css";
@import "partials/_table.css";
@import "partials/_control.css";
@import "partials/_pagination.css";
@import "partials/_modal.css";
body {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #fafafa;
    font-size: 13px;
}

button,
input,
optgroup,
select,
textarea,
p,
a {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 13px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

body {
    min-width: 100vw;
    max-width: 100vh;
}

.container-fluid .card,
.container-fluid .nav {
    margin-top: 40px;
}

.card-header {
    padding: .25rem .5rem;
}

.btn:hover {
    cursor: hand;
}

.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 8px;
    pointer-events: none;
}

.right-addon .fa {
    right: 0px;
}

.body-scroll {
    height: -moz-calc(100vh - 60px);
    height: -webkit-calc(100vh - 60px);
    height: -o-calc(100vh - 60px);
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}

.body-scroll::-webkit-scrollbar,
.body-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 3px;
    background-color: #F5F5F5;
}

.body-scroll::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 3px;
    background-color: #138496;
}

.body-scroll::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #138496;
}
