<div class="row page-wrapper chiller-theme toggled">
    <div class="col-md-4">
      abdefsd  sdk df
      <nav>
        <li><a [routerLink]="['/candidate/dashboard']" [routerLinkActive]="['active']">Dashboard</a></li>
        <li><a [routerLink]="[{ outlets: { primary: ['none'], candidateOutlet: ['/candidate/dashboard'] }}]" [routerLinkActive]="['active']">Dashboard</a></li>
      </nav>
    </div>
    <div class="col-md-8">
        <router-outlet name="candidateOutlet"></router-outlet>
      </div>
</div>
