<div class="container-fluid p-1">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#group">Group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#skill">Skill</a>
        </li>
    </ul>
    <div class="tab-content border-top-panel">
        <div class="tab-pane active container-fluid p-0" id="group">
            <app-recruitment-skill-group-list></app-recruitment-skill-group-list>
        </div>
        <div class="tab-pane container-fluid p-0" id="skill">
            <app-recruitment-skill-list></app-recruitment-skill-list>
        </div>
    </div>
    <ng-template #skillForm>
        <app-recruitment-skill-form></app-recruitment-skill-form>
    </ng-template>
    <ng-template #groupForm>
      <app-recruitment-group-skill-form></app-recruitment-group-skill-form>
    </ng-template>
    {{ closeResult }}
    <button class="btn btn-lg btn-outline-primary" (click)="openModal(skillForm)">Launch demo modal</button>

    <input type="checkbox" /><br/>
    <input type="radio" name="group" class="from-control" /> 12 <br/><br/>
    <input type="radio" name="group" class="from-control" /> 21 <br/><br/>
    <label>
      <input type="radio" name="radio" class="from-control">
      <span class="label-text">Option 02</span>
    </label>
    <label>
      <input type="radio" name="radio" class="from-control">
      <span class="label-text">Option 02</span>
    </label>
</div>
