<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-12">
        <select class="form-control">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="col-md-8 col-sm-4 col-xs-12"></div>
    <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="inner-addon right-addon">
            <i class="fa fa-sm fa-spinner fa-spin fa-search"></i>
            <input type="text" class="form-control input-sm" />
        </div>
        <span style="float:left;">Search</span>
        <input type="text" class="form-control" />
    </div>
</div>
