.header {
    padding: 7px;
    background-color: #17a2b8 !important;
}

.navbar {
    background: #222222;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

.dropdown::before {
    font-family: FontAwesome;
    content: '\f078';
    display: block;
    position: absolute;
    top: 50%;
    right: -4px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .4;
    font-size: 12px;
}

.dropdown-toggle::after {
    display: none;
}
