.navbar {
    background: #138496 !important;
    padding: 0em 1em;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-link {
    padding: 0px 5px;
    transition: 0.2s;
    color: white !important;
}

.nav-link .badge {
    position: absolute;
    margin-top: -7px;
    padding: .4em .4em;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #212529;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}

.dropdown::before {
    font-family: FontAwesome;
    content: '\f078';
    display: block;
    position: absolute;
    top: 48%;
    right: -5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .8;
    font-size: 10px;
    color: white !important;
}

.no-content::before {
    content: '' !important;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}
