.page-link {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    padding: .2rem .5rem;
    font-size: 16px;
}

.page-link:hover {
    border: 1px solid #17a2b8;
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
    font-size: 16px;
    color: white;
    background-color: #17a2b8;
    cursor: pointer;
}