.horizontal-scroll {
  overflow-x: auto;
}
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(245, 245, 245);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
::-webkit-scrollbar-thumb {
  background-color: #138496;
  border-radius: 20px;
}
