.horizontal-scroll {
    overflow-x: overflow;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    right: -2;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(245, 245, 245);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece:start {
    /* Select the top half (or left half) or scrollbar track individually */
    height: 4px;
    width: 4px;
    right: -2;
}

::-webkit-scrollbar-thumb {
    background-color: #138496;
    border-radius: 20px;
}
