#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    /* don't forget to add all the previously mentioned styles here too */
    background: #17a2b8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 4px;
    background: #138496;
}

#sidebar .sidebar-header h3 {
    margin: 0px;
}

#sidebar ul.components {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 0px 10px 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #138496;
    background: #fff;
}

#sidebar ul li a i {
    padding-right: 5px;
}
