.table {
    margin-bottom: .3rem;
}

.table td,
.table th {
    padding: .15rem;
    vertical-align: middle;
    display: table-cell;
}

.table thead th,
.table tbody td {
  vertical-align: middle;
}

.table thead tr {
    background-color: #17a2b8;
    color: white;
}

.table thead tr th.check,
.table tbody tr td.check {
    width: 30px;
    text-align: center;
}

.table tbody tr td.check>i.fa-check-square-o {
    color: red;
}

.table thead tr th.action,
.table tbody tr td.action {
    width: 80px;
    text-align: center;
}

.table thead tr th.active,
.table tbody tr td.active {
    width: 60px;
    text-align: center;
}

.table input[type=checkbox]:before {
    font-size: 15px;
}

/* Sortable in table */
/*---------------------------*/

.table thead th[scope=col] {
    cursor: pointer;
}

.table thead th[scope=col]:before {
    font-family: FontAwesome;
    content: '\f0dc';
    float: right;
}

.table thead th[scope=col].asc:before {
    font-family: FontAwesome;
    content: '\f160';
    float: right;
    color: white;
}

.table thead th[scope=col].desc:before {
    font-family: FontAwesome;
    content: '\f161';
    float: right;
    color: white;
}

/* Scroll in table */
/*---------------------------*/

.table-scroll {
  width: 100%;
  table-layout: fixed;
}

.table-scroll thead,
.table-scroll body {
  width: 100%;
  display: block;
}

.table-scroll thead tr,
.table-scroll tbody tr {
  width: 100%;
  display: table;
}

.table-scroll thead tr th,
.table-scroll tbody tr td {
    display: table-cell;
}

.table-scroll tbody {
  overflow: auto;
  position: absolute;
  width: 99%;
  min-width: 1366px;
}
